* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #16384b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.calculator-container {
    width: 400px;
    background-color: #696969;
    border: solid 5px #000000;
    border-radius: 10px;
    padding: 10px;
}

.display {
    width: 100%;
    min-height: 150px;
    background-color: #15251c;
    border: solid 5px #000000;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}

.text {
    width: 100%;
    height: 100%;
    overflow-wrap:break-word;
    text-align: right;
}

.small-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 350px;
    gap: 5px;
}

.bigger-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


.bt {
    width: 85px;
    height: 85px;
    border: solid 5px #000000;
    border-radius: 10px;
    background-color: #696969;
    color: #000;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 3px #000;
}

.bt-2 {
    width: 180px;
}

.bt:hover {
    background-color: #16384b;
    transition: all 200ms ease-in-out;
}